* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

#header {
  font-weight: 500;
  margin-top: 10px;
}

.col-sm-2 li {
  width: 100%;
}

#forecastDaysDiv {
  padding-left: 0px;
}

/* Search history div alignment correction */
#searchHistory {
  padding-left: 0px;
}

/* Put space beneath buttons */
#newBtns {
  margin-bottom: 10px;
}